body{
font-family:Arial;
background:linear-gradient(120deg,#4facfe,#00f2fe);
text-align:center;
}

.title{
color:white;
margin-top:20px;
animation:slide 1.5s ease;
}

.card-container{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
width:250px;
border-radius:10px;
box-shadow:0 10px 20px rgba(0,0,0,0.2);
transition:0.3s;
animation:fade 2s;
}

.card:hover{
transform:translateY(-10px);
}

button{
background:#4CAF50;
color:white;
padding:10px;
border:none;
border-radius:5px;
cursor:pointer;
}

textarea{
width:60%;
height:150px;
font-family:monospace;
}

.output{
margin-top:15px;
background:black;
color:lime;
padding:10px;
width:60%;
margin-left:auto;
margin-right:auto;
}

@keyframes slide{
from{opacity:0; transform:translateY(-40px);}
to{opacity:1; transform:translateY(0);}
}

@keyframes fade{
from{opacity:0}
to{opacity:1}
}